<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Monix</title>
</head>

<body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if user_list %}
    
    <input type="text" id="search" onkeyup="filterFunction()" placeholder="Rechercher un nom..">

    <ul id="user_list">
    {% for user in user_list %}
        <li id="{{ user.pseudo }}">L'user {{ user.pseudo }} possède {{ user.baton }} batonnet{% if user.baton < -1 or user.baton > 1 %}s{% endif %}.
            <form action="{% url 'monix:remove' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ user.id }}"><br>
                <input type="number" name="num" min="-100" max="100">
                <input type="submit" value="Remove">
                <input type="submit" formaction="{% url 'monix:add' %}" method="post" value="Add">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No user are available. Database empty !</p>
{% endif %}

<a href="{% url 'admin:index' %}" id="admin">Admin panel</a>

{% if user_list %}
<script>
// From https://www.w3schools.com/howto/howto_js_filter_lists.asp
function filterFunction() {
    // Declare variables
    var input, filter, ul, li, i;
    input = document.getElementById('search');
    filter = input.value.toUpperCase();
    ul = document.getElementById("user_list");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        if (li[i].id.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
{% endif %}
</body>
</html>
