<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "custom.css" %}">
    <title>Monix</title>
</head>

<body>

{% if last_history %}
    <div class="alert alert-{{ last_history.style }} text-center" id="message_auto_hide">
        {{ last_history.message }}
    </div>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if user_list %}
    <div style="margin:10px;">
    <input type="text" class="col-md-4 offset-md-4 searchbox " id="search{{ time }}" onkeyup="filterFunction()" placeholder="Rechercher un nom.." autofocus>
    </div>

    <table class="table table-striped table-hover">
    <thead><tr><th>Pseudo</th> <th>Crédit (bâtons)</th> <th>Dépôt/Retrait</th></tr></thead>
    <tbody id="user_list">
    {% for user in user_list %}
        <tr id="{{ user.pseudo }}">
            <td>
                {{ user.pseudo }}
            </td>
            <td>
                {{ user.baton }}
            </td>
            <td>
                <form class="input-group-append" action="{% url 'monix:remove' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ user.id }}"><br>
                    <input type="number" name="num" min="-100" max="100">
                    <input type="submit" value="Remove" class="btn btn-success">
                    <input type="submit" value="Add" class="btn btn-outline-danger" formaction="{% url 'monix:add' %}" method="post">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No user are available. Database empty !</p>
{% endif %}


<div style="margin:10px;">
    <a href="{% url 'admin:index' %}" id="admin" class="col-md-2 offset-md-5 btn btn-primary">Admin panel</a>
</div>

{% if user_list %}
<script>/* Search filter https://www.w3schools.com/howto/howto_js_filter_lists.asp */
function filterFunction() {
    // Declare variables
    var input, filter, ul, li, i;
    input = document.getElementById('search{{ time }}');
    filter = input.value.toUpperCase();
    ul = document.getElementById("user_list");
    li = ul.getElementsByTagName('tr');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        if (li[i].id.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
};
</script>

<style> /* Auto hide confirmation message https://stackoverflow.com/a/21994053 */
#message_auto_hide {
    animation: cssAnimation 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        visibility:hidden;
    }
}
</style>
{% endif %}
</body>
</html>
